# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
3.1/src/main.c
3.1/dummy.uvopt
3.1/dummy.uvgui.Oleg
3.3/obj/system_stm32f10x.crf
3.3/obj/main.crf
3.3/obj/dummy_Target 1.dep
3.3/obj/dummy.lnp
3.3/obj/dummy.htm
3.3/obj/dummy.build_log.htm
3.3/obj/dummy.axf
3.3/lst/startup_stm32f10x_md.lst
